{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Module 3.  The Vignette Task

{% endblock %}

{% block content %}
<p>
Now you will earn money by reading two short paragraphs about politics and then helping us classify the stories.  Please read these two short paragraphs that describe a typical political scenario.  After you read the paragraphs you will be asked to answer four questions.  You will then be paid for answering these four questions about the stories.  You can earn up to 300 ECUs answering these questions.
</p>
    {% next_button %}

{% endblock %}
