{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Module 3. De Vignette Taak
{% endblock %}

{% block content %}
<p>
    Nu zult u geld verdienen door twee korte paragrafen te lezen over politiek, en vervolgens de twee verhalen te classificeren. Lees alstublieft de twee korte paragrafen die een typisch politiek scenario beschrijven. Nadat u de paragrafen heeft gelezen zult u gevraagd worden om vier vragen te beantwoorden. U zult dan betaald worden voor het beantwoorden van de vragen over de verhalen. U kunt tot 300 ECUs verdienen met het beantwoorden van deze vragen.
</p>
    {% next_button %}

{% endblock %}
