{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Module 3: Introduction
{% endblock %}

{% block content %}
<p>
    You will see one short paragraph concerning politics.  Please read this short paragraph that describes a typical political scenario.  After you read the paragraph you will be paid for answering some questions about the stories.  You can earn up to <b>150 ECUs</b> for each question you answer.
</p>
<p>
    There are three political parties in this short scenario. The three parties share power in a coalition government.  Party 1 is the party of the Prime Minister.  Party 2 is the party of the Finance Minister.  And Party 3 is the party of the Minister of Health.

</p>
    {% next_button %}

{% endblock %}
