{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
   <p>
       We would now like you to answer some questions about the scenario.  You can now earn up to 150 ECUs for each of the questions.
   </p>
{% if subsession.treatment == 1 %}
<p>
    The Prime Minister from Party 1 announces the government priority for the year will be promoting growth and creating jobs.  The Government met on a number of occasions over the past years – at these cabinet meetings the three parties in the coalition government agreed on government tax and spending policies designed to promote economic growth.
</p>
{% elif subsession.treatment == 2 %}
<p>
    The Minister of Finance, Party Two, announces the government priority for the year will be promoting growth and creating jobs announced.   The Government met on a number of occasions over the past couple years – at these cabinet meetings the Minister of Finance presented her priorities of tax and spending policies designed to promote economic growth.
</p>
{% elif subsession.treatment == 3 %}
<p>
    The past couple of years the economy has performed above expectations – GDP growth has been much higher than normal and unemployment rates have dropped to very low levels.
</p>
{% else %}
<p>
    The past couple of years the economy has performed below expectations – GDP growth has been much lower than normal and unemployment rates have risen to very high levels.
</p>
{% endif %}
<p>
    A legislative election will be held shortly and the three government parties, Party 1, Party 2 and Party 3, will all have candidates running for re-election.
</p>

{% formfield player.counts %}
{% formfield player.ctlPM %}
{% formfield player.ctlFM %}
{% formfield player.ctlHC %}
    {% next_button %}


{% endblock %}
