{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}

<div class="col-12 mb-3">
    <div class="card card-body bg-light">
        {% if player.cur_trt == 1 %}
            De Regering, bestaande uit partij Alpha, Beta en Gamma, legt zich toe op een overkoepelend doel, namelijk het bevorderen van groei en het creëren van banen. Gezamenlijk schetsen zij een overheidsbelasting en uitgavebeleid, waarvan ze het erover eens zijn om het te implementeren. Deze regeringsprioriteiten, het bevorderen van groei en het creëren van banen, worden vervolgens bekend gemaakt aan het publiek door de Minister President van partij Alpha.
        {% elif player.cur_trt == 2 %}
            De Minister van Financiën van partij Beta legt zich toe op het overkoepelende doel van het bevorderen van groei en het creëren van banen. De Minister van Financiën schetst overheidsbelastingen en uitgavebeleid om te implementeren. Deze regeringsprioriteiten van het bevorderen van groei en het creëren van banen worde vervolgens bekend gemaakt aan het publiek door de Minister President van partij Alpha.
        {% elif player.cur_trt == 3 %}
            De regering, bestaande uit partij Alpha, Beta en Gamma, leggen zich toe op een overkoepelend doel, namelijk het bevorderen van groei en het creëren van banen. Gezamenlijk schetsen zij overheidsbelastingen en uitgavebeleid, waarvan ze het erover eens zijn om het te implementeren. Deze regeringsprioriteiten van het bevorderen van groei en het creëren van banen worden vervolgens bekend gemaakt aan het publiek door de Minister van Financiën van partij Beta.
        {% elif player.cur_trt == 4 %}
            De Minister van Financiën van partij Beta legt zich toe op het overkoepelende doel van het bevorderen van groei en het creëren van banen. De Minister van Financiën schetst overheidsbelastingen en uitgavebeleid om te implementeren. Deze regeringsprioriteiten van het bevorderen van groei en het creëren van banen worde vervolgens bekend gemaakt aan het publiek door de Minister van Financiën van partij Beta.
        {% elif player.cur_trt == 5 %}
            De regering, bestaande uit partij Alpha, Beta en Gamma, leggen zich toe op een overkoepelend doel, namelijk het bevorderen van groei en het creëren van banen. Gezamenlijk schetsen zij overheidsbelastingen en uitgavebeleid, waarvan ze het erover eens zijn om het te implementeren. Deze regeringsprioriteiten van het bevorderen van groei en het creëren van banen worden vervolgens bekend gemaakt aan het publiek door de Minister President van partij Alpha.
        {% elif player.cur_trt == 6 %}
            De Minister van Financiën van partij Beta legt zich toe op het overkoepelende doel van het bevorderen van groei en het creëren van banen. De Minister van Financiën schetst overheidsbelastingen en uitgavebeleid om te implementeren. Deze regeringsprioriteiten van het bevorderen van groei en het creëren van banen worde vervolgens bekend gemaakt aan het publiek door de Minister President van partij Alpha.
        {% elif player.cur_trt == 7 %}
            De regering, bestaande uit partij Alpha, Beta en Gamma, leggen zich toe op een overkoepelend doel, namelijk het bevorderen van groei en het creëren van banen. Gezamenlijk schetsen zij overheidsbelastingen en uitgavebeleid, waarvan ze het erover eens zijn om het te implementeren. Deze regeringsprioriteiten van het bevorderen van groei en het creëren van banen worden vervolgens bekend gemaakt aan het publiek door de Minister van Financiën van partij Beta.
        {% else %}
            De Minister van Financiën van partij Beta legt zich toe op het overkoepelende doel van het bevorderen van groei en het creëren van banen. De Minister van Financiën schetst overheidsbelastingen en uitgavebeleid om te implementeren. Deze regeringsprioriteiten van het bevorderen van groei en het creëren van banen worde vervolgens bekend gemaakt aan het publiek door de Minister van Financiën van partij Beta.
        {% endif %}
    </div>
</div>
    <div class="col-12 mb-3">
        {% if player.cur_trt < 5 %}
            We willen graag weten hoe kiezers zouden reageren op deze regering wanneer de economie beter presteert dan verwacht – dus als de BBP [Bruto Binnenlands Product] een stuk hoger is dan het normaal is, en werkloosheid daalt tot een erg laag niveau.
        {% else %}
            We willen graag weten hoe kiezers zouden reageren op deze regering wanneer de economie slechter presteert dan verwacht – dus als de BBP [Bruto Binnenlands Product] een stuk lager is dan het normaal is, en werkloosheid stijgt tot een erg hoog niveau.
        {% endif %}
    </div>
<p>
    {% if player.cur_trt < 5 %}
        1. {{ form.q1.label }}
    {% else %}
        1.  Als kiezer, hoe zou u partij Alpha, van de Minister President, beoordelen, bij een economie die onder de verwachtingen presteert? Links is “erg slecht” en rechts is “erg goed”.
    {% endif %}
    <br>
    <!--very bad &nbsp;<input name = "q1", type="range" id="slider"> &nbsp;very good-->
<div class="slidecontainer">
    erg slecht <input type="range" min="1" max="100" value="50" name="q1" class="slider" id="id_q1">  erg goed
    <br><br>
<p align="center">Waarde: <span id="q1_val"></span></p>
</div>
    <br>
    {% if player.cur_trt < 5 %}
        2. {{ form.q2.label }}
    {% else %}
        2.Als kiezer, hoe zou u partij Beta, van de Minister van Financiën, beoordelen, bij een economie die onder de verwachtingen presteert? Links is “erg slecht” en rechts is “erg goed”.
    {% endif %}
<br><br>
<div class="slidecontainer">
    erg slecht <input type="range" min="1" max="100" value="50" name="q2" class="slider" id="id_q2">  erg goed
    <br><br>
<p align="center">Waarde: <span id="q2_val"></span></p>
</div>
    {% if player.cur_trt < 5 %}
        3. {{ form.q3.label }}
    {% else %}
        3. Als kiezer, hoe zou u partij Gamma, van de Minister van Buitenlandse Zaken, beoordelen, bij een economie die onder de verwachtingen presteert? Links is “erg slecht” en rechts is “erg goed”.
    {% endif %}
<br><br>
<div class="slidecontainer">
    erg slecht  <input type="range" min="1" max="100" value="50" name="q3" class="slider" id="id_q3">  erg goed
    <br><br>
<p align="center">Waarde: <span id="q3_val"></span></p>
</div>
<br>
{% if player.cur_trt > 4 %}
    {% formfield player.q4 label="4.Welke van de drie partijen vindt u hoofdzakelijk verantwoordelijk voor de lage BBP groei en het hogere werkloosheidsniveau?
" %}
{% else %}
    {% formfield player.q4 %}
{% endif %}
</p>
<br><br>

<style>
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0084FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:#0084FF;
  cursor: pointer;
}
</style>
<script>
var slider1 = document.getElementById("id_q1");
var output1 = document.getElementById("q1_val");
output1.innerHTML = slider1.value;

var slider2 = document.getElementById("id_q2");
var output2 = document.getElementById("q2_val");
output2.innerHTML = slider2.value;

var slider3 = document.getElementById("id_q3");
var output3 = document.getElementById("q3_val");
output3.innerHTML = slider3.value;

slider1.oninput = function() {
  output1.innerHTML = this.value;
}
slider2.oninput = function() {
  output2.innerHTML = this.value;
}
slider3.oninput = function() {
  output3.innerHTML = this.value;
}
</script>
{% next_button %}
{% endblock %}

