{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block title %}
Scenario
{% endblock %}

{% block content %}
<div class="col-12 mb-3">
        There are three political parties in this short scenario. The three parties share power equally in a coalition government – each party has an equal number of cabinet portfolios.  Party Alpha is the party of the Prime Minister.  Party Beta is the party of the Finance Minister.  And Party Gamma is the party of the Minister of Foreign Affairs
</div>

{% next_button %}
{% endblock %}