{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block title %}
Scenario
{% endblock %}

{% block content %}
<div class="col-12 mb-3">
        Er zijn drie politieke partijen in dit korte scenario. De drie partijen hebben evenveel macht in een coalitie overheid – elke partij heeft een gelijk aantal portefeuilles. Partij Alpha is de partij van de Minister President. Partij Beta is de partij van de Minister van Financiën. En partij Gamma is de partij van de Minister van Buitenlandse Zaken.

</div>

{% next_button %}
{% endblock %}