{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
    {% formfield player.age %}
    <table>
        <tr><th>2.What is your gender?</th></tr>
        {% for choice in form.gender %}
        <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;{{ choice }}&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
        {% endfor %}
        <tr><td>{% formfield player.gender_other %}</td></tr>
    </table>
{% formfield player.student %}
{% formfield player.edu_level %}
<table>
        <tr><th>5.Which of the following best describes your current major course of study? (Check more than one option if you are a double major or if your undergraduate and graduate majors differ. For non-students, use the major for the highest year of school completed.)</th></tr>
        {% for m in form.major %}
        <tr><td>{{ m }}</td></tr>
        {% endfor %}
        <tr><td>{% formfield player.major_other %}</td></tr>
</table>
{% formfield player.math_course %}
{% formfield player.econ_course %}
    {% next_button %}

{% endblock %}
