{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Survey Consent Formulier
{% endblock %}

{% block content %}
<p>
    U bent uitgenodigd om mee te doen in een onderzoek genaamd OE_0026, over het maken van beleid door de overheid. Dit onderzoek wordt uitgevoerd door Raymond Duch van het “Centre for Experimental Social Sciences” (Centrum voor Experimentele Sociale Wetenschappen) van het Nuffield College aan de Universiteit van Oxford.
</p>
<p>
    Het doel van dit onderzoek is om ons te helpen begrijpen hoe het maken van beleid door de overheid werkt in het Verenigd Koninkrijk. Het onderzoek duurt ongeveer 10 minuten. Uw participatie in dit onderzoek is geheel vrijwillig, en u mag elk moment besluiten om te stoppen. Als u besluit om niet mee te doen aan het onderzoek of u wilt terugtrekken, kan dit op elk moment en dit zal geen gevolgen voor u hebben. U hoeft geen antwoorden te geven op vragen die u niet wil beantwoorden.
</p>
<p>
    Als u de survey heeft ingevuld, zult u te horen krijgen hoe veel u verdiend heeft met het meedoen aan het onderzoek. U zult betaald worden volgens een wisselkoers van 1000 ECUs = 1 euro. Door CESS beleid en IRB regelgeving, zullen we uw naam, adres, sociale verzekerings- of belastingsnummer en handtekening vragen, om u vervolgens te kunnen betalen.
</p>
<p>
    We geloven dat er geen risico’s verbonden zijn aan dit onderzoek. Desalniettemin, zoals voor elke activiteit die zich online afspeelt, is er altijd een risico van inbreuk. Zo goed als we kunnen zullen we uw participatie aan dit onderzoek vertrouwelijk behandelen, en alleen geanonimiseerde data zal gepubliceerd worden. We zullen ons best doen om uw informatie vertrouwelijk te houden. Alle data worden opgeslagen in een elektronisch formaat met bescherming van een wachtwoord. Om de vertrouwelijkheid van uw data te beschermen, zullen de surveys geen informatie van u vragen die u persoonlijk identificeerbaar maken. De resultaten van dit onderzoek worden gebruikt voor wetenschappelijke doeleinden.
</p>
<p>
Als u vragen heeft over dit onderzoek, neem dan contact op met cess-online@nuffield.ox.ac.uk. U kunt ook naar https://www.youtube.com/watch?v=nkPA3fb6K84&feature=youtu.be gaan, om onze Ethiek Video te bekijken. Dit onderzoek is beoordeeld volgens de CESS IRB procedures voor onderzoek waarin menselijke proefpersonen betrokken zijn.
</p>
<p>
    Ik heb de informatie hierboven gelezen. Door hieronder mijn handtekening te zetten, geef ik toestemming om mee te doen aan dit survey project.
</p>
<br>
<input type="hidden" name="url_assigned" id="id_url_assigned" />
<script>
    $( document ).ready(function() {
        var string = document.referrer;
        alert(string);
        <!--$("#id_url_assigned").val(string);-->
    });
</script>
{% next_button %}

{% endblock%}