{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Experiment Introduction
{% endblock %}

{% block content %}

<p>
    We will ask you to make a number of decisions in this experimental session.  These decisions will all be totally anonymous and you will earn money based on the decisions you make.<br>
    You will be informed of your earnings for this module at the end of the experiment.The exchange rate is: <strong>{{ rate }} ECUs = {{rate1}} </strong>
</p>
    {% next_button %}

{% endblock %}
