{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Experiment Introductie

{% endblock %}

{% block content %}

<p>
  We zullen u vragen om een aantal beslissingen te maken in deze experimentele sessie. Deze beslissingen zullen geheel anoniem zijn en u zult geld verdienen gebaseerd op de beslissingen die u maakt. U zult geïnformeerd worden over uw inkomsten van deze module aan het eind van het experiment. De wisselkoers is  <strong>{{ rate }} ECUs = 1 euro </strong>
</p>
    {% next_button %}

{% endblock %}
