{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Module 1: RET
{% endblock %}

{% block content %}
<p>
    In this Module, you will work on an Adding Numbers task.You will be asked to compute a series of additions in one minute. Your Earned Income depends on how many correct answers you provide. You will get 100 ECUs per correct answer.
</p>
 <div class="next-btn" style="text-align:right;">{% next_button %}</div>
<input type="hidden" name="url_assigned" id="id_url_assigned" />
<script>
    $( document ).ready(function() {
        var string = document.referrer;
        $("#id_url_assigned").val(string);
    });

</script>
{% endblock%}