{% load otree_tags staticfiles %}

<div class="instructions well well-lg">
    <p>
        In module 2 zult u een plaatjes puzzel zien voor 30 seconden. Uw taak is om het aantal koeien in het plaatje te identificeren. Zodra de 30 seconden voorbij zijn, zal het plaatje verdwijnen. Na de 30 seconden moet u aangeven hoeveel koeien u heeft gevonden. U hoeft niet te zeggen welke; slechts het aantal dat u gevonden heeft. U zult 100 ECUs krijgen voor elke koe die u vindt.
    <br>
        Klik op de knop om te starten.
    </p>
</div>
